@model InterfacilityGatewayASPNET.dto.HandlerDto
@{
    ViewBag.Title = "Detail";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutPageTry2.cshtml";

}

<h2>Details</h2>

<table class="table table-bordered table-hover">

    <tbody>

        <tr>
            <td>
                @Html.LabelFor(m => m.RequestStatusHandlerDto)
            </td>
            <td>
                @Model.RequestStatusHandlerDto
            </td>
        </tr>
        <tr>
            <td>

                @Html.LabelFor(m => m.ClientReportHandlerDto.Id)
            </td>
            <td>
                @Model.ClientReportHandlerDto.Id
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.FullName)

            </td>
            <td>
                @Model.ClientReportHandlerDto.FullName
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.SocialNumber)
            </td>
            <td>
                @Model.ClientReportHandlerDto.SocialNumber
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.Nationality)
            </td>
            <td>
                @Model.ClientReportHandlerDto.Nationality
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.City)
            </td>
            <td>
                @Model.ClientReportHandlerDto.City
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.ReferringFacility)
            </td>
            <td>
                @Model.ClientReportHandlerDto.ReferringFacility
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.Gender)
            </td>
            <td>
                @Model.ClientReportHandlerDto.Gender
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.Email)
            </td>
            <td>
                @Model.ClientReportHandlerDto.Email
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.Phone1)
            </td>
            <td>
                @Model.ClientReportHandlerDto.Phone1
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.Phone2)
            </td>
            <td>
                @Model.ClientReportHandlerDto.Phone2
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.DateOfBirth)
            </td>
            <td>
                @Model.ClientReportHandlerDto.DateOfBirth
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.MedicalRecordNumber)
            </td>
            <td>
                @Model.ClientReportHandlerDto.MedicalRecordNumber
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.EligibilityStatusHandlerDto)
            </td>
            <td>
                @Model.EligibilityStatusHandlerDto
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ClientReportHandlerDto.RequestDate)
            </td>
            <td>
                @Model.ClientReportHandlerDto.RequestDate
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.CategoryHandlerDto)
            </td>
            <td>
                @Model.CategoryHandlerDto
            </td>
        </tr>

    </tbody>
</table>

<br />
<br />




<div class="position-absolute">

    @Html.ActionLink("Back To List", "Index", "HandlerTransferRequest", new { id = Model.UserInChargeId, groupId = Model.HandlerTransferRequestHandlerDto.UserInchargeGroupId}, null)

</div>